---
import { cn } from "@/lib/utils";

interface Props {
  index: number;
  class?: string;
}

const { index, class: className } = Astro.props;
---

<div
  class={cn(
    "sh-builtin-components tab-panel animate-in fade-in duration-300",
    index !== 0 && "hidden",
    className,
  )}
>
  <slot />
</div>
