---
import BaseHead from "../core/BaseHead.astro";
import Footer from "../core/Footer.astro";
import Header from "../core/Header.astro";
import { SITE_DESCRIPTION } from "../../consts.ts";
import StickyButtons from "../global/StickyButtons.astro";
import "lenis/dist/lenis.css";
import config from "@shConfig";

import "../../styles/global.css";

const LANG = config.lang || "zh-Hant";

const { title, description, coverImage } = Astro.props;
---

<!doctype html>
<html lang={LANG} class="dark">
  <head>
    <BaseHead
      title={title}
      description={description || SITE_DESCRIPTION}
      image={coverImage}
    />
    <slot name="head" />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <slot />
    <Footer />
    <StickyButtons />
  </body>
</html>

<script>
  import Lenis from "lenis";

  const lenis = new Lenis({
    autoRaf: true,
  });
</script>
