---
import Layout from "../layouts/BlogPost.astro";
import config from "@shConfig";
---

<Layout
  title={config.pages.other.about.title}
  description={config.pages.other.about.subTitle}
  pubDate={new Date("August 08 2021")}
  heroImage={config.pages.other.about.heroImage}
  headings={[]}
>
  <div class="mb-16">
    <h2 class="mb-4 text-2xl font-bold">我是誰</h2>
    <p class="content-text">
      嗨！我是 SamHacker，一個熱愛 Coding 的高中生。現年（2025年）16歲，善於運用
      <a href="https://www.typescriptlang.org/">TypeScript</a>、
      <a href="https://www.python.org/">Python</a>
      等語言。最近在學習
      <a href="https://nextjs.org/">Next.js</a>、
      <a href="https://vitejs.dev/">Vite</a>、
      <a href="https://reactjs.org/">React</a>、
      <a href="https://greensock.com/gsap/">GSAP</a>
      等前端框架，也計畫要涉獵 Svelte、Vue 等框架。前端可能還算可以，但做後端就真的完全不行。
    </p>
    <p class="content-text">
      未來可能會去學習
      <a href="https://laravel.com/">Laravel</a>、
      <a href="https://www.djangoproject.com/">Django</a>
      等後端框架，充實自己的能力。我對網頁前端設計、Python 腳本、AI 與 AIGC 等領域有些興趣。
      <br />
      雖然技術仍然不足以稱為專家，但如果你也對這些領域有興趣，或許我們可以一起交流？
    </p>
    <p class="content-text">
      至於如果你想知道為什麼我叫 SamHacker
      嘛...主要就只是因為之前中二病時期感覺當駭客很帥（？），然後 Sam
      一直是我的英文名字，兩個隨便組合一下就出現這個名字了。
    </p>
    <p class="content-text">
      以前的名字是 510208，學校發的 ST
      網域郵件用這個數字當帳號，但因為有些平台不收純數字的帳號，所以就改成現在這個名字了。
    </p>
    <p class="content-text">
      另外如果你想知道的話，我還有一個虛擬身分御坂糸紗奈（Misaka Misana，a.k.a.
      林韻恩），純粹都只是隨便亂取的名字。依據著名的「網路上遇到自稱女生的大多都是小男娘居多」的定律，反正那說的不是我。
    </p>
  </div>
  <div class="mb-16">
    <h2 class="mb-4 text-2xl font-bold">關於這個網站</h2>
    <p class="content-text">
      同樣的網址，我所製作的第一個網站是採用純粹的 HTML、CSS 與 JavaScript
      所建構的，並沒有使用任何框架或庫。
      但很遺憾的，不才是個非常之大懶蟲，手寫靜態網站應該會寫到死掉，所以決定痛定思痛，邁出腳步探索更強大的框架。
    </p>
    <p class="content-text">
      於是我選擇了 Astro
      作為我的網站框架，因為它輕量且易於使用，並且支援多種前端框架的整合，讓我能夠更靈活地開發網站功能。
      這個網站的第一個版本是在 2021 年 8 月 8
      日開始開發的，當時我還只是個國中生。
    </p>
    <p class="content-text">
      用框架開發的第一個版本是使用 Vite + React
      開發，沒有任何多重頁面路由，純粹一個網站，甚至連捲動都不能捲動，當然更遑論動畫什麼的，那叫奢望。
    </p>
    <p class="content-text">
      當時是國三，畢竟還要準備考高中什麼的，根本沒時間完善我的個人網站。
      因此這些完善內容的工作就交給了會考完的我。
      專案做了將近兩個月，最終也算是有了一些進展，也就是現在你們看到的這個網站。
    </p>
  </div>
</Layout>
