---
import { cn } from "@lib/utils";

import I18nKey from "@i18n/i18nKey";
import i18n from "@i18n/translation";

const { gitHubData: data } = Astro.props;

if (!data) {
  throw new Error("GitHub data is required for GitHubCard component.");
}

let repoStatus = i18n(I18nKey.github_card_public);
let borderClass = "border-white/10 text-gray-400";

if (data.archived) {
  repoStatus = i18n(I18nKey.github_card_archive);
  borderClass = "border-yellow-500/50 text-yellow-400";
}
---

<div
  class={cn(
    "px-2 py-0.5 rounded-full border uppercase tracking-wider font-bold text-[12px]",
    borderClass,
  )}
>
  {repoStatus}
</div>
