---
import ToComment from "./ToComment.astro";
import ToTop from "./ToTop.astro";

// 透過網址是否在/blog/ 判斷是否為部落格頁面
const IS_BLOG = Astro.url.pathname.startsWith("/blog/");
---

<div
  class="fixed right-2 bottom-12 z-50 flex -translate-x-1/2 flex-col items-center gap-4 lg:right-8 lg:bottom-40 lg:translate-x-0 lg:-rotate-90 lg:flex-row-reverse"
>
  <ToTop />

  <!-- 只在部落格頁面顯示留言按鈕 -->
  {IS_BLOG && <ToComment />}
</div>
